h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 3.8em;
}

h1 a {
    color: #ffffff;
    margin-left: 0.5em;
}

h1 a:hover { color: #4372e4; }


body {
    background-color: #3f4555;
    font-family: Helvetica, Arial, FreeSans, san-serif !important;
    color: #ffffff;
}

#pos-container {
    width: 50%;
    min-height: 300px;
    border: 0px solid #111;
    overflow: auto;
    margin: 0 auto;
    margin-top: 1rem;
}

#pos {
    width: 100%;
    text-align: center;
}

#canvas {
    width: 100%;
    height: 100%;
    vertical-align: center;
}

#preview-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

footer p{
    color: white;
    font-size: 1em;
    text-align:center;
    padding-top: 30px;
    font-style: italic;
}