<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Графический редактор Владислава Баницкого</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="icon" href="../static/img/gredit-128.png" type="image/png">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="wrapper">
    <div class="content">
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <h1 class="d-flex align-items-center mb-3 mb-md-0 me-md-auto">
                    <img src="../static/img/gredit-128.png" alt="[gredit-icon]">
                    <a class="text-decoration-none" target="_blank" href="https://github.com/VladislavBanitsky/gredit">Gredit</a>
                </h1>
            </header>
        </div>
        <div class="preview-wrapper" id="preview-wrapper">
            <div class="pos-container" id="pos-container">
                <div class="pos row" id="pos">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <div class="row text-center">
                <div class="col-lg-3 d-grid gap-2">
                    <input class="form-control form-control" id="upload-file" type="file">
                </div>
                <div class="offset-lg-1 col-lg-4 d-grid gap-2">
                    <button type="button" class="btn btn-danger" id="reset-btn">Сброс</button>
                </div>
                <div class="col-lg-4 d-grid gap-2">
                    <button type="button" class="btn btn-success" id="download-btn">Скачать результат</button>
                </div>
            </div>
            <br>
            <div class="row my-3">
                <div class="offset-lg-1 col-lg-2">
                    <label for="slider" class="form-label">Масштабирование</label>
                    <input type="range" class="form-range" min="-210" max="-10" step="10" id="slider" value="-100">
                </div>
                <div class="col-lg-2">
                    <label for="brightness" class="form-label">Яркость</label>
                    <input type="range" class="form-range" min="-100" max="100" id="brightness" name="brightness"
                           value="0">
                </div>
                <div class="col-lg-2">
                    <label for="contrast" class="form-label">Контрастность</label>
                    <input type="range" class="form-range" min="-20" max="20" id="contrast" name="contrast"
                           value="0">
                </div>
                <div class="col-lg-2">
                    <label for="sepia" class="form-label">Сепия</label>
                    <input type="range" class="form-range" min="0" max="100" id="sepia" name="sepia"
                           value="0">
                </div>
                <div class="col-lg-2">
                    <label for="hue" class="form-label">Оттенок</label>
                    <input type="range" class="form-range" min="0" max="100" id="hue" name="hue"
                           value="0">
                </div>
            </div>
            <div class="row mb-1 g-1">
                <div class="col-lg-2 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="bw-btn">Чёрно-белый</button>
                </div>
                <div class="col-lg-2 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="blur-btn">Размытие</button>
                </div>
                <div class="col-lg-2 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="vintage-btn">Винтаж</button>
                </div>
                <div class="col-lg-2 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="pseudo-btn">Псевдоцвет</button>
                </div>
                <div class="col-lg-2 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="negative-btn">Негатив</button>
                </div>
                <div class="col-lg-2 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="red-btn">Оттенки красного</button>
                </div>
            </div>
            <div class="row mb-1 g-1">
                <div class="col-lg-2 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="green-btn">Оттенки зелёного</button>
                </div>
                <div class="col-lg-2 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="blue-btn">Оттенки синего</button>
                </div>
                <div class="col-lg-2 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="oldpaper-btn">Старинная бумага</button>
                </div>
                <div class="col-lg-2 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="noise-btn">Шум</button>
                </div>
                <div class="col-lg-2 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="sharpen-btn">Резкость</button>
                </div>
                <div class="col-lg-2 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="random-color-btn">Случайный цвет</button>
                </div>
            </div>
            <div class="row mb-1 g-1">
                <div class="col-lg-2 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="nostalgia-btn">Nostalgia</button>
                </div>
                <div class="col-lg-2 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="hdr-btn">HDR</button>
                </div>
                <div class="col-lg-2 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="pleasant-btn">Pleasant</button>
                </div>
                <div class="col-lg-2 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="lomo-btn">Lomo</button>
                </div>
                <div class="col-lg-2 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="crossprocess-btn">Crossprocess</button>
                </div>
                <div class="col-lg-2 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="majestic-btn">Majestic</button>
                </div>
            </div>
            <div class="row mb-1 g-1">
                <div class="col-lg-4 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="fliph-btn">Отразить по горизонтали</button>
                </div>
                <div class="col-lg-4 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="flipv-btn">Отразить по вертикали</button>
                </div>
                <div class="col-lg-4 d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="rotate-btn">Повернуть на 90°</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <footer class="py-3 my-4">
            <p class="text-center">© 2025 Gredit created by Vladislav Banitsky</p>
        </footer>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/grafi-pseudocolor.js"></script>
</body>
</html>